[submodule "externals/YAKL"]
	path = externals/YAKL
	url = https://github.com/mrnorman/YAKL.git
[submodule "externals/yaml-cpp"]
	path = externals/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
